body {
  background-color: #222831;
  box-sizing: border-box;
  font-family: "Poppins";
  color: #defbff;
}

.home_titolo {
  display: table;
  font-size: 60px;
  margin: 0 auto;
  padding: 20px;
}

.home_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.it_login {
  margin-top: 30px;
  width: 500px;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.it_register {
  margin-top: 30px;
  width: 500px;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.it_converter {
  margin-top: 30px;
  width: 500px;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.it_manage {
  margin-top: 30px;
  width: 500px;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#classlogout a {
  position: absolute;
  top: 0;
  padding: 2px;
  right: 0;
  margin-top: 50px;
  margin-right: 25px;
  text-decoration: none !important;
  font-size: 20px;
}

#classlogout a:visited {
  color: #fff;
}

#classlogout a:hover {
  border: 1pt solid #00adb5;
  border-radius: 10px;
}

.btnHome {
  width: 30px;
  height: auto;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 10px 23px;
  font-size: 25px;
  color: #2e3830;
  border-radius: 10px;
  border: none;
  background-color: #00adb5;
  transition: all 0.25s;
}

.btnHome:hover {
  background-color: #40bfc1;
}

.form {
  background-color: #222831;
  padding: 1.4em;
  font-family: "Poppins";
}

.form .spazioCampi {
  position: relative;
  margin: 1.4em 0;
}

.form .spazioCampi:first-child {
  margin-top: 50px;
}

.form .spazioCampi:last-child {
  margin-bottom: 0;
}

.form label {
  font-size: 14px;
  font-size: 0.875rem;
}

.form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}

.form input.widthChanger {
  width: 100%;
}

.form input.paddingChanger {
  padding: 12px 20px 12px 50px;
}

.form input.borderChanger {
  border: 1px solid #d2d8d8;
  appearance: none;
}

.form input.borderChanger:focus {
  border-color: rgb(116, 221, 166);
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}

.form input[type="submit"] {
  padding: 16px 0;
  cursor: pointer;
  background: #00adb5;
  color: #fff;
  font-weight: bold;
  border: none;
  appearance: none;
}

.form input[type="submit"]:hover {
  background: #40bfc1;
}

.form .hidePassword {
  display: inline-block;
  position: absolute;
  text-decoration: none;
  top: 50%;
  right: 0;
  padding: 6px 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #232323;
  border-left: 1pt solid #d2d8d8;
}

.manageResult {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.userManage {
  padding: 15px;
  box-shadow: 7px 7px 10px 0px rgba(35, 35, 35, 0.22);
  background-color: #00adb5;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.actionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.actionItem {
  color: #393e46;
  width: 300px;
  height: 170px;
  padding: 15px;
  box-shadow: 7px 7px 10px 0px rgba(35, 35, 35, 0.22);
  background-color: #00adb5;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.actionItem h2 {
  text-align: center;
}
/* background: #fa163f; */

#uploadForm {
  background: #fa163f;
  margin-top: 20px;
  position: relative;
  border-radius: 10px;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 12px;
  border: 0 none;
}

#uploadForm:hover {
  letter-spacing: 2px;
  font-weight: bold;
  background: #e5322d ;
}
